.pull-right li
{
 display: inline;
}

#one
{
 text-align: center;
 background-color: #f7f7f7;
 border-top-style: solid;
 font-family: Geneva;
}

body
{
 background-image: url('http://static.giantbomb.com/uploads/original/17/179295/2418483-gradient_background_wide.jpeg');
}

.pics img
{
    width: 40px;
    height: 30px;
}


